/*Article css layout*/

.article_layout{
  display: inline-block;
  background-color: white;
  width: 50%;
  align-content: center;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;

}



.article_titles{
  text-transform: capitalize;


}
