/*Article css layout*/

.article_layout{
  display: inline-block;
  background-color: white;
  width: 50%;
  align-content: center;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;

}



.article_titles{
  text-transform: capitalize;


}

.article_grid{
  display: inline-block;
  background: white;
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
}
