/*Article css layout*/
*{box-sizing: border-box;

}
.article_layout{
  display: inline-block;
  background-color: white;
  vertical-align: top;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  width: 30%;
  margin-top: 10px;

}



.article_titles{
  text-transform: capitalize;


}

.article_grid{
  display: inline-grid;
  background: white;
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
}

.article-preveiw{
  font-size: 1px;
  font-weight: bold;
}
