/*Bakground img config*/

.background_img{
  background-image: url("../assets/bg.jpg");
}
/*a div made for centering all content*/
.centering_div{
  margin: 0 auto;
  width: 650px;
}

.logo_image{
  height: 90%;
  width: 50%;
  position: absolute;
  top: 20px;
  bottom: 10px;
}
