

.skater-pictures{
  overflow: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}


.guerrero_aside{
  background-image: url(../assets/sk8er-2.png);
  width: 33%;
  height: 410px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  border: 3px;
  border-style: solid;
  border-color: white;
  background-size: 320%;
  box-shadow: 0px 3px 0px rgba(127, 126, 124, 0.5);
  background-position: right;
  background-repeat: no-repeat;
  float:right;
  vertical-align: top;

}

.guerrero_name{
  text-align: center;
  display: flex;
  text-transform: uppercase;
  color: white;
  vertical-align: middle;

}

.moutain_div{
  width: 33%;
  height: 200px;
  background-image: url(../assets/sk8er-4.png);
  border: 3px;
  border-color: white;
  border-style: solid;
  display: inline-block;
  align-items: baseline;
  text-transform: uppercase;
  background-size: 155%;
  box-shadow: 0px 3px 0px rgba(127, 126, 124, 0.5);
  background-position: right;

}
.moutain_name{
  color: white;
  text-align: center;
  display: flex;
}

.mullen_div{
  width: 33%;
  height: 200px;
  background-image: url(../assets/sk8er-3.png);
  border: 3px;
  border-color: white;
  border-style: solid;
  display: inline-block;
  align-items: baseline;
  text-transform: uppercase;
  background-size: 155%;
  box-shadow: 0px 3px 0px rgba(127, 126, 124, 0.5);
}

.mullen_name{
  color: white;
  display: flex;
  text-align: center;

}

.caballero_div{
  width: 66.5%;
  height: 200px;
  background-image: url(../assets/sk8er-1.png);
  border: 3px;
  border-color: white;
  border-style: solid;
  display: inline-block;
  margin-top: 10px;
  background-size: 120%;
  box-shadow: 0px 3px 0px rgba(127, 126, 124, 0.5);
  margin-bottom: 0px;
  background-position: center;

}

.caballero_name{
  color: white;
  text-align: center;
  display: flex;
  text-transform: uppercase;
}

.skate_boards{
  padding: 18px;
  margin: 0;
  display: inline-block;
  overflow: auto;
  background: white;
  shape-image-threshold: 75%;
}
